// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.parts td {
  font-weight: bold;
  color: black;
  border-top: 1px solid black;
  line-height: 2;
}

.parts span, .parts abbr {
  padding: 2px 4px;
  white-space: nowrap;
}
