// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  color: black;
}

.parts, .kits {
  td {
    color: black;
    border-top: 1px solid black;
    line-height: 2;
  }

  span, abbr {
    padding: 2px 4px;
    white-space: nowrap;
  }
}

.parts td {
  font-weight: bold;
}
