// Place all the styles related to the Parts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  color: black;
}

.parts, .kits {
  td {
    color: black;
    border-top: 1px solid black;
    line-height: 2;
  }

  span, abbr {
    padding: 2px 4px;
    white-space: nowrap;
  }
}

.parts ul li {
  padding: 2px 0;
}

.green { background-color: lighten(#008000, 30%); }
.lime { background-color: lighten(#00FF00, 30%); }
.blue { background-color: lighten(#0000FF, 30%); }
.cyan { background-color: lighten(#00FFFF, 30%); }
.yellow { background-color: lighten(#FFFF00, 30%); }
.orange { background-color: lighten(#FFA500, 30%); }
.red { background-color: lighten(#FF0000, 30%); }
.grey { background-color: #aaa; }

